<button id="scrapeBtn">Scrape</button>
<button id="displayBtn">Display Results</button>

<div>
  <h1>Articles</h1>
  {{#each data}}
  <div>
    <a href="{{ link }}">{{ title }}</a>
    <p>{{ summary }}</p>
    <p>{{ note }}</p>
  </div>
  <div>
    <p>Notes</p>
    <input type="text" id="{{ _id }}">
    <button data-id="{{ _id }}" class="addNote">Add note</button>
    <button class="deleteNote">Delete note</button>
  </div>
  {{/each}}
</div>


{{!-- jQuery --}}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
{{!-- JavaScript --}}
<script src="assets/js/app.js"></script>